/* =================================
  Element Styles
==================================== */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    color: #4c4c4c;
    background: #f8fdf3;
}
h1,
p,
form button {
    color: white;
}
h1 {
    font-family: 'Courgette', cursive;
    text-shadow: 0 1px 0 rgba(0,0,0, .4);
    line-height: .65;
}
h2 {
    margin-top: 0;
}
p {
    font-size: 1.1em;
    text-shadow: 0 1px 0 rgba(0,0,0, .25);
}
form {
    width: 60%;
    background: white;
    display: inline-block;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    border-radius: .2em;
    border: solid 4px white;
    box-shadow: 0 1px 14px rgba(0,0,0, .12);
}
form button {
    padding: 0 1em;
    font-size: 1em;
    background: #7bcbc4;
    border-radius: .2em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 1em;
}
ul li {
    padding: 1em;
    background: #fff;
    border-radius: .2em;
    border: solid 1px rgba(88, 183, 205, .2);
    border-bottom: solid 2px rgba(88, 183, 205, .2);
    position: relative;
}
button {
    cursor: pointer;
}
input,
button {
    border: none;
    outline: none;
}
header {
    text-align: center;
    background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
    url('../images/header-bg.jpg') no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}
header input {
    padding: 12px;
    font-size: 1.15em;
    width: 100%;
}
li span,
li input[type=text] {
    color: #707070;
    font-size: 1.3em;
    margin-bottom: .3em;
}
li input[type=text] {
    padding: .2em;
    width: 95%;
    border: 1px dotted rgba(0,0,0, .2);
}
li label {
    font-size: .9em;
    display: block;
    color: rgba(112, 112, 112, .55);
}
li span,
li input[type=text]:first-child {
    display: block;
}
li button {
    font-size: .78em;
    margin-top: 1.65em;
    margin-right: .4em;
    border-radius: .3em;
    padding: .4em .6em;
    color: white;
    background: #58b7cd;
}
li button:last-child {
    background: rgba(88, 183, 205, .5);
}
.wrapper {
    width: 100%;
    max-width: 900px;
    margin: 2.5em auto;
    border-radius: .35em;
    background: #fcfcfc;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(0,0,0, .13);
}
div > input:last-child {
    font-size: 1em;
    margin-left: 6px;
}
div > label {
    color: #767676;
}

/* responded */
.responded {
    transition: 0.4s;
    border-color: rgba(88, 183, 205, .9);
}
.responded label {
    transition: 0.4s;
    color: rgba(88, 183, 205, 1);
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 768px) {
    header {
        padding: 1.25em;
    }
    h1 {
        font-size: 3.6em;
        margin: .3em 0 0;
    }
    ul li {
        margin-bottom: 1em;
    }
    form {
        width: 95%;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: auto;
        margin-top: 2.5em;
    }
    form button {
        padding: 12px 0;
        margin-top: .5em;
    }
    form input {
        font-size: 1em;
        text-align: center;
    }
    .wrapper {
        margin: 0;
    }
    .main {
        padding: 2em 1em .75em;
    }
}

@media (min-width: 769px) {
    header {
        height: 220px;
        padding: 1.5em 1em 1em;
        background-position: 0 -95px;
    }
    .main > div {
        float: right;
        display: inline-block;
        margin-top: 6px;
        margin-right: 1.25%;
    }
    div > label {
        margin-top: 12px;
    }
    h1 {
        font-size: 2.8em;
    }
    h2 {
        float: left;
        font-size: 1.9em;
        margin-left: 1.25%;
    }
    form {
        margin: 4.15em auto 0;
        z-index: 3000;
        position: relative;
    }
    .wrapper {
        width: 90%;
    }
    .main {
        padding: 3.8em 1.5em .75em;
        position: relative;
        z-index: 10;
    }
    ul {
        display: -webkit-flex;
        display: flex;
        clear: both;

        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 1.25em;
    }
    ul li {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 47.5%;
        flex-basis: 47.5%;
        margin: 0 1.25% 1em;
    }
}
@media (min-width: 880px) {
    ul li {
        -webkit-flex-basis: 20%;
        flex-basis: 20%;
    }
}