/* =================================
  Grid layout
==================================== */
.header { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/*-- ============================
Media Queries
=========================*/
@media (min-width: 769px){
	.main-header,
	.main-nav{
		display: flex;
	}
	.main-header{
		flex-direction: column;
		align-items: center;
	}
}
@media (min-width: 1025px){
.main-header{
	flex-direction: row;
	justify-content: space-between;

}

}
#message {
	display: none;
	padding: 20px;
	margin-top: 30px;
	background-color: #FFB8B9;
}
