@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font: 14px/18px Tahoma, Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

h1 {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px #D8D8D8 solid;

    line-height: 1;
    font-weight: normal;
    color: #666666;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px 20px;

    text-align: left;
}

table th {
    padding: 20px;
    border-right: 1px #595959 solid;
    background-color: #2C2C2C;

    position: relative;

    cursor: pointer;

    color: #E2E2E2;
}

table th:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top: -5px;

    position: absolute;
    top: 50%;
    right: 20px;
}

table th.asc:after {
    display: block;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #E2E2E2 transparent;
}

table th.desc:after {
    display: block;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #E2E2E2 transparent transparent transparent;
}

table tr:nth-child(even) td {
    background-color: #F2F2F2;
}



form button {
	padding: 0 1em;
	font-size: 1em;
	border-radius: .2em;
}
button {
	cursor: pointer;
}
input,
button {
	border: none;
	outline: none;
	text-align: center;
	background-color: whitesmoke;
}
header input {
	padding: 12px;
	font-size: 1.15em;
	width: 100%;
}
li span,
li input[type=text] {
	color: #707070;
	font-size: 1.3em;
	margin-bottom: .3em;
}
li input[type=text] {
	padding: .2em;
	width: 95%;
	border: 1px dotted rgba(0,0,0, .2);
}
li label {
	font-size: .9em;
	display: block;
	color: rgba(112, 112, 112, .55);
}
li span,
li input[type=text]:first-child {
	display: block;
}
li button {
	font-size: .78em;
	margin-top: 1.65em;
	margin-right: .4em;
	border-radius: .3em;
	padding: .4em .6em;
	color: white;
	background: #58b7cd;
}
li button:last-child {
	background: rgba(88, 183, 205, .5);
}