/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #0a0a0a;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}
/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background: rgb(255, 255, 255);
	border-radius: 25px;
	margin: 45px auto;
}

/* ================================= 
  Page Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-size: 1.35em;
	font-family: 'Roboto', sans-serif;
	background: rgb(206, 210, 214);
	padding-left: 5%;
	padding-right: 5%;
	margin: 0;
}
.item {
	color: #000000;
	padding: 15px;
	margin: 4px;
	background: #33a4a1;
	border-radius: 2px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
  }
p {
	  font-size: .95em;
	  margin-bottom: 1.8em;
	  color: black;
  }
  h2,
  h3,
  a {
	  color: #093a58;
	  text-decoration: none;
  }
  h2,
  h3 {
	  margin-top: 0;
  }
  img {
	  max-width: 100%;
  }
  .main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
	background-color: burlywood;
}
.banner {
	color: black;
	background: #297d79;
	padding: 2em 0;
	margin-bottom: 38px;
	display: block;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #297d79;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
	border-radius: 50%;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

/* ---- Form ---- */

form {
	width: 50%;
	background: white;
	display: flexbox;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	border-radius: .2em;
	border: solid 5px white;
	box-shadow: 0 1px 15px rgba(0,0,0, .12);
}

form button {
	padding: 0 1em;
	font-size: 1em;
	background: #00529e;
	border-radius: .2em;
}
button {
	cursor: pointer;
}
input,
button {
	border: none;
	outline: none;
	text-align: center;
	background-color: whitesmoke;
}
header input {
	padding: 12px;
	font-size: 1.15em;
	width: 100%;
}
li span,
li input[type=text] {
	color: #707070;
	font-size: 1.3em;
	margin-bottom: .3em;
}
li input[type=text] {
	padding: .2em;
	width: 95%;
	border: 1px dotted rgba(0,0,0, .2);
}
li label {
	font-size: .9em;
	display: block;
	color: rgba(112, 112, 112, .55);
}
li span,
li input[type=text]:first-child {
	display: block;
}
li button {
	font-size: .78em;
	margin-top: 1.65em;
	margin-right: .4em;
	border-radius: .3em;
	padding: .4em .6em;
	color: white;
	background: #58b7cd;
}
li button:last-child {
	background: rgba(88, 183, 205, .5);
}
.wrapper {
	width: 100%;
	max-width: 900px;
	margin: 2.5em auto;
	border-radius: .35em;
	background: #fcfcfc;
	overflow: hidden;
	box-shadow: 0 0 26px rgba(0,0,0, .13);
}
div > input:last-child {
	font-size: 1em;
	margin-left: 6px;
}
div > label {
	color: #767676;
}

/* responded */
.responded {
	transition: 0.4s;
	border-color: rgba(88, 183, 205, .9);
}
.responded label {
	transition: 0.4s;
	color: rgba(88, 183, 205, 1);
}

/*-- ============================
Media Queries
=========================*/
@media (min-width: 769px){
	.main-header,
	.main-nav{
		display: flex;
	}
	.main-header{
		flex-direction: column;
		align-items: center;
	}
}
@media (min-width: 1025px){
.main-header{
	flex-direction: row;
	justify-content: space-between;

}

}