<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="../static/css/page.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" type='text/css'>

        <title>Robert development homepage</title>
    </head>
    <body>

<header class="main-header">
    <h1 class="name"><a href="#">Programowanie</a></h1>
    <ul class="main-nav">
        <li><a >Back-End</a></li>
        <li><a th:href="'/JavaScriptApps'">Front-End</a></li>
        <li><a >Bazy danych</a></li>
        <li><a >Web</a></li>
    </ul>
</header><!--/.main-header-->
<div class="banner">
    <img class="logo" src="../static/komp.jpg" alt="Figurka programisty">
    <h1 class="headline">Robert Sztur</h1>
    <span class="tagline">Moje programistyczne portfolio</span>
</div><!--/.banner-->
<section><h2>Poznaj moje technologie:</h2></section>

<div class="container">
    <div class="item-1 item">JAVA
    <!--Item 1 -->
        <p>Programowanie w języku Java 8 wykorzystując technologię budowania projektu poprzez MAVEN</p>
    </div>
    <div class="item-2 item">HTML
    <!--Item 2 -->
        <p>Tworzenie szkieletu stron internetowych z wykorzystaniem HTML5</p>
    </div>
    <div class="item-3 item">CSS
    <!--Item 3 -->
        <p>Upiększanie stron za pośrednictwem kaskadowego edytora stylów</p>
    </div>
    <div class="item-4 item">JavaScript
    <!--Item 4 -->
        <p>Tworzenie interaktywnych funkcjonalności do stron i aplikacji internetowych</p>
        <a href="../templates/Invitation.html">Sprawdź mój przykładowy projekt</a>
        <br>

    </div>
</div>

<div class="row">
    <div class="primary col">
        <h2>Back-End</h2>
        <p>Java8: programowanie obiektowe, testy jednostkowe, wykorzystanie JDBC, JEE oraz SPRING framework</p>
        <p>Budowanie projektów za pośrednictwem MAVEN oraz GRADLE</p>
    </div><!--/.primary-->
<div class="secondary col">
    <h2>Front-End</h2>
    <p><strong>HTML: </strong>Szkielety stron internetowych</p>
    <p><strong>CSS: </strong>Modyfikacja wyglądu istniejących stron oraz tworzenie nowych stylów poprzez CSS i BOOTSTRAP</p>
    <p><strong>JavaScript: </strong>Podstawowe znajomości wykorzystania JS w stronach aby były jeszcze bardziej interaktywne</p>
</div><!--/.secondary-->
</div>

<div class="secondary col">
    <h2>Kilka słów o mnie</h2>
    <p>Od zawsze interesował mnie świat elektroniki, komputerów i gier. Lubię wiedzieć jak coś działa a nie tylko z tego korzystać.</p>
    <p><strong><a href="../templates/about.html">Czytaj więcej...</a></strong></p>
    </div>

<footer class="main-footer">
    <span>&copy;2020 Robert Sztur</span>
</footer>

</body>
</html>