<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{invitation.css}" />
    <title>Invitation</title>
</head>
<body>
<div class="wrapper">
    <header>
        <h1>RSVP</h1>
        <p>A Treehouse App</p>
        <form id="registrar">
            <input type="text" name="name" placeholder="Invite Someone">
            <button type="submit" name="submit" value="submit">Submit</button>
        </form>
    </header>

    <div class="main">
        <h2>Invitees</h2>
        <ul id="invitedList"></ul>
    </div>
</div>
<script th:src="@{/invitation.js}"></script>

</body>
</html>