<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{invitation.css}" />
    <title>JavaScript's Apps</title>
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Aplikacja stworzona w języku Java Script</h1>
    </header>
</div>
<script src="./static/script.js"></script>
</body>
</html>